.ToggleContainer {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;

    justify-content: center;
    align-items: center;

    width: 3.5rem;
    height: 2rem;

    &:hover {
        cursor: pointer;
    }
}

.StatusLayer {
    border-radius: 10px;
    background-color: #b0b0b0;

    grid-area: 1 / 1 / 2 / 2;

    display: flex;

    justify-content: space-between;
    align-items: center;

    padding: 0 0.4rem 0 0.6rem;

    color: white;

    font-family: sans-serif;

    width: 3rem;
    height: 1.4rem;

    margin: 0 0rem;

}

.active {
    .StatusLayer {
        background-color: #34C759;
    }
    .MovingLayer {
        animation: movingToggle 0.5s linear;
        transform: translateX(1.6rem);
    }
}

.MovingLayer {
    border-radius: 10px;
    background: rgba(255, 255, 255, 1);

    box-shadow: 0 4px 24px 0 rgba(31, 38, 135, 0.18);



    grid-area: 1 / 1 / 2 / 2;
    width: 2.3rem;
    height: 1.3rem;

    margin-left: 0.05rem;


    transition: 
        transform 0.3s ease-in-out, 
        background-color 0.3s ease-in-out, 
        box-shadow 0.3s ease-in-out,
        border 0.3s ease-in-out,
        -webkit-backdrop-filter 0.3s ease-in-out,
        backdrop-filter 0.3s ease-in-out,
        color 0.3s ease-in-out,
        scale 0.5s ease-in-out;

}

@keyframes movingToggle {

    0% {
        -webkit-backdrop-filter: blur(0px) saturate(160%);
        backdrop-filter: blur(0px) saturate(160%);
        background: rgba(255, 255, 255, 0.15);
    }
    5% {
        -webkit-backdrop-filter: blur(0px) saturate(160%);
        backdrop-filter: blur(0px) saturate(160%);
        background: rgba(255, 255, 255, 0.15);
        scale: 1.3;
        width: 2.1rem;
        border-radius: 20px;
        border: 1.5px solid rgba(255, 255, 255, 0.22);
    }
    20% {
        -webkit-backdrop-filter: blur(0px) saturate(160%);
        backdrop-filter: blur(0px) saturate(160%);
        background: rgba(255, 255, 255, 0.15);
        scale: 1.3;
        width: 2rem;
        border-radius: 20px;
        border: 1.5px solid rgba(255, 255, 255, 0.22);
    }
    40% {
        -webkit-backdrop-filter: blur(0px) saturate(160%);
        backdrop-filter: blur(0px) saturate(160%);
        background: rgba(255, 255, 255, 0.15);
        scale: 1.3;
        width: 2rem;
        border-radius: 20px;
        border: 1.5px solid rgba(255, 255, 255, 0.22);
    }


    100% {

    }
    
}